.DS_Store
.idea/
__pycache__

ob/router/__pycache__/
poetry.lock

ocabox.egg-info/

ob/configuration/*
!ob/configuration/.gitkeep
!ob/configuration/__init__.py
!ob/configuration/tree_build_example.py
!ob/configuration/sample_config.yaml


venv/
.venv/
.ipynb_checkpoints/
